body {
  background-color: var(--clr-bg-base);
  color: var(--clr-text-body);
}

hr {
  border: none;
  height: 1px;
  background: var(--clr-divider-default);
  opacity: 1;
  margin-block: var(--ds-space-md);
}

a {
  color: var(--clr-link);

  &:hover {
    color: var(--clr-link-hover);
  }
}
