@use "../abstracts/token" as t;
@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as mx;

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--ds-space-md);

  @include mx.mq-up(compact) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mx.mq-up(expanded) {
    grid-template-columns: repeat(4, 1fr);
  }
}
