// mixins.scss

@use "sass:map";
@use "functions" as f;
@use "token" as t;

/// Media queries baseadas em breakpoints de layout (compact, medium, expanded, wide).
///
/// - mq-up: aplica estilos a partir do breakpoint (min-width)
/// - mq-down: aplica estilos até o breakpoint (max-width - 1px)
/// - mq-between: aplica estilos entre dois breakpoints
@mixin mq-up($breakpoint) {
  $width: f.get-token(t.$breakpoints, $breakpoint);

  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin mq-down($breakpoint) {
  $width: f.get-token(t.$breakpoints, $breakpoint);

  @media (max-width: calc(#{$width} - 1px)) {
    @content;
  }
}

@mixin mq-between($from, $to) {
  $min: f.get-token(t.$breakpoints, $from);
  $max: f.get-token(t.$breakpoints, $to);

  @media (min-width: #{$min}) and (max-width: calc(#{$max} - 1px)) {
    @content;
  }
}

/// Espaçamento vertical entre elementos em fluxo natural do HTML
/// Ex: texto, imagens, parágrafos, listas ou divs de agrupamento.
/// @param $size ex: sm, md, lg
@mixin flow($size) {
  > * + * {
    margin-top: f.get-token(t.$spacings, $size);
  }
}

/// Layouts flexíveis
/// stack: disposição vertical de elementos
/// cluster: disposição horizontal de elementos com alinhamento central

@mixin stack($size) {
  display: flex;
  flex-direction: column;
  gap: f.get-token(t.$spacings, $size);
}

@mixin cluster($size, $wrap: wrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  align-items: center;
  gap: f.get-token(t.$spacings, $size);
}

/// Expande o elemento para ocupar toda a largura da viewport
/// ignorando o container pai
@mixin full-width {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
}

/// Aplica qualquer propriedade CSS com valor fluido (clamp)
/// entre um tamanho mínimo e máximo, escalando proporcionalmente
/// com a largura da viewport definida nos tokens.
///
/// @param $property — propriedade CSS ex: font-size, max-width, padding
/// @param $min — tamanho mínimo ex: 1rem, 320px
/// @param $max — tamanho máximo ex: 3rem, 560px
///
/// @example
///   @include mx.fluid(font-size, 2.5rem, 4.5rem);
///   @include mx.fluid(max-width, 320px, 560px);
@mixin fluid($property, $min, $max) {
  $min-px: if(unit($min) == "rem", f.to-px($min), $min);
  $max-px: if(unit($max) == "rem", f.to-px($max), $max);

  #{$property}: f.fluid-clamp(
    f.get-token(t.$viewport-range, min),
    f.get-token(t.$viewport-range, max),
    $min-px,
    $max-px
  );
}

/// Elevação (box-shadow sombra)

/// Elevação base (somente sombra estática)
///  @example
///   .card {
///     @include elevation(1);
///     @include hover-elevation(2);
///   }
@mixin elevation($size: 1) {
  box-shadow: f.get-token(t.$elevations, $size);
}

/// Elevação interactiva (hover)
///
/// @param $size — nível da sombra
/// @param $transform — efeito aplicado no hover (ex: translateY, scale)
/// @param $motion — duração e easing da animação
///
/// @example
///   @include hover-elevation(2);
///   @include hover-elevation(3, scale(1.05));
///   @include hover-elevation(2, translateY(-6px), 0.15s ease);
@mixin hover-elevation(
  $size: 1,
  $transform: translateY(-4px),
  $motion: 0.2s ease
) {
  transition:
    transform $motion,
    box-shadow $motion;

  &:hover {
    cursor: pointer;
    transform: $transform;
    box-shadow: f.get-token(t.$elevations, $size);
  }
}
